VITE_API_BASE_URL=/api
VITE_DATA_SOURCE_MODE=static
VITE_API_FALLBACK_TO_STATIC=true
VITE_EMAILJS_SERVICE_ID=service_96yuchn
VITE_EMAILJS_TEMPLATE_ID=template_funoc95
VITE_EMAILJS_PUBLIC_KEY=_t1D8P-sAtGXBLpig
